body {
    background-color: #284b63;
    /* color: white; */
    font-family: 'Audiowide', 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 30px;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header {
    border-bottom: 1px solid white;
    padding: 0px 50px;
    margin-bottom: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: #bde0fe
}

.icon {
    max-width: 60px;
    /* height: 80px; */
}

.final {

    color: #80ed99;
}

.starter {
    color: #fee440;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.starter>p {
    margin: 0px;
    padding: 0px;
}

.tip {
    font-size: 20px;
    color: #bde0fe;
}

.buttons {
    display: flex;
    gap: 50px;
    margin: 40px 20px;
    flex-shrink: 2;
}

.grass {
    background-color: #57cc99;
}


.fire {
    background-color: #f4a261;
}


.water {
    background-color: #a8dadc;
}

button {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

button:hover {
    border: 5px solid #6096ba;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 20px;
}


.score {

    display: flex;
    padding: 0 50px;
    gap: 300px;
}

.score>p {
    font-size: 25px;

}

.final {
    font-size: 40px;
    display: flex;
    justify-content: center;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.btnAgain {
    border-radius: 5px;
    height: auto;
    width: 250px;
    border: 5px solid #fefae0;
    font-size: 20px;
    background-color: #80ed99;
    font-family: 'Audiowide', 'Montserrat Alternates', sans-serif;

}